.container{
    
    margin:auto;
    width: 50%;
    margin-top: 2rem;
    
}
h1 {
margin: 0 0 2.2rem 0;
color: #999;
font: normal normal 5em Baskerville, Palatino, "Book Antiqua", serif;
}

p {
font-size:14px;
width:20rem;
}

.reference {
padding: 0.5rem 2rem;
background: #444;
color: white;
font-weight: bold;
width:330px;
margin: 2.4rem 0rem 0rem 0rem;


}

.reference a {
color:#C9E2B1;
font-family: monospace;
text-decoration:none;
margin-left:1.2rem;
}

.reference a:hover {
color:white;
}

.pic{
    display: flex;
}
.left .img1{
    background-image: url('https://placebear.com/cache/145-300.jpg');
    width:145px;
    height:300px;
    margin:0.5rem 0rem 0rem 1rem
}

.right .img2{
    background-image: url('https://placebear.com/cache/150-145.jpg');
    width:150px;
    height:145px;
    margin:0.5rem 0rem 0.25rem 3.5rem;

}
.right .img3{
    background-image: url('https://placebear.com/cache/70-146.jpg');
    width:70px;
    height:145px;

}
.rightlower{
    display:flex;
    margin:0.5rem 0rem 0rem 3.5rem;
}
.right .img4{
    background-image: url('https://placebear.com/cache/70-147.jpg');
   width:70px;
    height:145px;
    margin:0rem 0rem 0rem 0.6rem;

}
.secondrow .left .img7{
    background-image: url('https://placebear.com/cache/395-205.jpg');
    width:395px;
    height:200px;
    margin:0.5rem 0rem 0rem 0rem;
    
}
.secondrow .right{
    border:0px solid black;
    width:100%;
    display:flex;
    margin:0.5rem 0rem 0rem 3rem;
}
.secondrow .img5{
    background-image: url('https://placebear.com/cache/150-200.jpg');
    width:150px;
    height:200px;
    
    
} 
.secondrow .img6{
    background-image: url('https://placebear.com/cache/145-201.jpg');
    width:145px;
    height:200px;
    margin:0rem 0rem 0rem 0.5rem;
}
@media (min-width:500px){
    
    
}

@media (min-width:900px){
    .container{
        width: 50%;
    }
   .firstrow{
       display:flex;
   }
   .secondrow{
       display: flex;
   }
   .secondrow .right{
    margin:0.5rem 0rem 0rem 0rem;
   }
   .left .img1{
       margin:0rem 0rem 0rem 0.9rem;
   }
   .right .img2{
    margin:0rem 0rem 0.5rem 0.5rem;
   }
   .rightlower{
    margin:0rem 0rem 0rem 0.5rem;
   }
   .right .img3{
       margin:0rem 0.6rem 0rem 0rem ;
   }
   .right .img4{
    margin:0rem;
    }
    .img7{
        margin:0rem;
    }
    .secondrow .img5{
        margin:0rem 0.6rem 0rem 0.5rem;
    }
    .secondrow .img6{
        margin:0rem;
    }
}